<a *ngIf="totalNotify>0"(click)="desplegate()" class="notification">
  <!-- <span>Inbox</span> -->
  <mat-icon >notifications</mat-icon>
  <span *ngIf="totalNotify>0" class="badge" id="total">{{totalNotify}}</span>
  <!-- <span *ngIf="totalNotify==0" class="badge" id="total">{{"   "}}</span> -->
</a>
<a *ngIf="totalNotify==0" (click)="desplegate2()" class="notification">
    <mat-icon >notifications</mat-icon>
    <span *ngIf="totalNotify>0" class="badge" id="total">{{totalNotify}}</span>
</a>
<div id="myDropdown-notify" class="dropdown-content">
<div>
 <a *ngFor="let carrito of arraySearch" style="cursor:pointer;" (click)="functionClick(carrito.Account.user)"><p>{{carrito.Account.user}}: {{carrito.descripcion}}</p></a>
  <!-- <a *ngFor="let carrito of arraySearch" (click)="functionClick()">{{carrito.descripcion}}</a> -->
</div>
</div>