<app-nav-user></app-nav-user>
      
  
    <div class="hero" >
        <div class=".container-template conteiner-login100">
            <div class="target-options min-ww">
                <div>
                    <app-affiliates [localUser]="USER.id_cuenta"></app-affiliates>
                </div>
            </div>
            <div class="target-white-8">
                <div class="wrapper-users">
                    <app-card-user-affiliate *ngFor="let user of users; let i=index" [userOf]="user"></app-card-user-affiliate>
                </div>
            </div>
        </div>
    </div>
