/* You can add global styles to this file, and also import other style files */

.fnt-7 {
    font-size: 20px;
}

.contenedor-2 {
    width: 50px;
}


.limiter {
    width: 100%;
    margin: 0 auto;
  }

.container-template {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
}
  
.txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
}
  
.txt-1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #666666;
}

.txt-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #000000;
}

.title-1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    /* line-height: 1.5; */
    color: #000000;
}

.target-white {
    position: relative;
    background: white;
    margin: 75px;
    margin-bottom: 75px;
    /* width: 100%; */
    min-width: 100vh;
    min-height: 100vh;
    /* min-height: 550px; */
    border-radius: 10px;
    /* position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem; */
}

.target-white-1 {
    position: relative;
    background: white;
    /* margin: 75px; */
    margin-bottom: 75px;
    min-width: 110vh;
    min-height: 100vh;
    border-radius: 10px;
}

.target-white-2 {
    position: relative;
    background: white;
    /* margin: 75px; */
    margin-bottom: 75px;
    min-width: 120vh;
    min-height: 100vh;
    border-radius: 10px;
}

.target-white-3 {
    position: relative;
    background: white;
    /* margin: 75px; */
    margin-bottom: 75px;
    min-width: 130vh;
    min-height: 100vh;
    border-radius: 10px;

}

.target-white-4 {
    position: relative;
    background: white;
    /* margin: 75px; */
    margin-bottom: 75px;
    min-width: 140vh;
    min-height: 100vh;
    border-radius: 10px;

}

.target-white-5 {
    position: relative;
    background: white;
    /* margin: 75px; */
    margin-bottom: 75px;
    min-width: 150vh;
    min-height: 100vh;
    border-radius: 10px;

}

.target-white-6 {
    position: relative;
    background: white;
    /* margin: 75px; */
    margin-bottom: 75px;
    min-width: 160vh;
    min-height: 100vh;
    border-radius: 10px;

}

.target-white-7 {
    position: relative;
    background: white;
    /* margin: 75px; */
    margin-bottom: 75px;
    min-width: 170vh;
    min-height: 100vh;
    border-radius: 10px;

}

.target-white-8 {
    position: relative;
    background: white;
    /* margin: 75px; */
    margin-bottom: 75px;
    min-width: 180vh;
    min-height: 100vh;
    border-radius: 10px;

}

.target-options {
    position: relative;
    /* background: white; */
    margin-top: 75px;
    /* margin-left: 75px;
    margin-right: 75px; */
    margin-bottom: 25px;
    border-radius: 10px;
    
}

.target-options-1 {
    position: relative;
    right: 0px;
    /* background: white; */
    margin-top: 75px;
    /* margin-left: 75px;
    margin-right: 75px; */
    margin-bottom: 25px;
    border-radius: 10px;
    min-width: 153vh;
    /* background: red; */
    /* float: left; */
}
/* .target-shop {

} */

.target-white-carret {
    position: relative;
    background: white;
    float: right;
    /* margin: 75px; */
    /* margin-bottom: 75px; */
    /* min-width: 180vh;
    min-height: 100vh; */
    min-width: 300px;
    min-height: 50px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
    

}

.target-white-product-shop{
    position: relative;
    background: white;
    /* margin: 75px; */
    margin-bottom: 75px;
    min-width: 110vh;
    min-height: 100vh;
    border-radius: 10px;
    float: left;
    /* padding-right: 25px; */
}

.opt-cart{
    text-align: center;
    padding-top: 5px;
}

.icn-cart {
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding-top: 3px;
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}



.icn-cart:hover {
    background: #E3E3E3;
  }

.icn-cart-add {
    top: 5px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding-top: 3px;
    padding-left: 3px;
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}

.icn-cart-add:hover {
    background: #D1D1D1;
  }

.input-cart-add{
    width: 45px;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
    outline: 0;
}

.target-cart-shop {
    overflow: auto;
    min-width: 300px;
    min-height: 50px;
    max-width: 300px;
    max-height: 220px;
}

.target-cart-shop::-webkit-scrollbar-track:hover, 
.target-cart-shop::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

/* Tamaño del scroll */
.target-cart-shop::-webkit-scrollbar {
    width: 8px;
  }
  
   /* Estilos barra (thumb) de scroll */
  .target-cart-shop::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  
  .target-cart-shop::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }
  
  .target-cart-shop::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
   /* Estilos track de scroll */
  .target-cart-shop::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }

.target-cart-shop:hover {
    background: white;
}

.card-cart-product {
    position: relative;
    display: inline-block;
    /* height: 250px; */
    /* left: 10px;
    right: 10px; */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    margin-left: 10px;
    margin-right: 10px;
    /* background: #EFEFEF; */
    /* opacity: 0.5; */
    border-radius: 10px;
    /* padding-left: 5px;
    padding-right: 5px; */
    width: 280px;
}

.card-cart-product:hover {
    background: white;
}

.cart-lft {
    position: relative;
    font-size: 17px;
    /* background: red; */
    min-width: 70%;
    max-width: 70%;
    width: 70%;
    height: 20px;
    float: left;
    display: flex;
    margin-top: -10px;
    padding-bottom: 10px;
}



.cart-rgh {
    position: relative;
    /* margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px; */
    text-align: right;
    /* background: blue; */
    min-width: 30%;
    max-width: 30%;
    height: 35px;
    width: 30%;
    float: right;
    padding-top: 5px;
    /* border: 50px; */
    /* padding-right: 5px; */
}

.icn-cart-rm{
    background-color: transparent;
    /* color: white; */
    text-decoration: none;
    padding-top: 3px;
    padding-right: 4px;
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}

.icn-cart-rm:hover{
    background: #E3E3E3;
}

.line-cart {
    display: inline-block;
}



.sin-top-border {
    margin-top: 0px;
}

.min-hh {
    min-height: 100vh;
}

.min-ww {
    min-width: 100vh;
}

.min-hh-1 {
    min-height: 110vh;
}

.min-ww-1 {
    min-width: 110vh;
}

.min-hh-2 {
    min-height: 120vh;
}

.min-ww-2 {
    min-width: 120vh;
}
.min-hh-3 {
    min-height: 130vh;
}

.min-ww-3 {
    min-width: 130vh;
}
.min-hh-4 {
    min-height: 140vh;
}

.min-ww-4 {
    min-width: 140vh;
}
.min-hh-5 {
    min-height: 150vh;
}

.min-ww-5 {
    min-width: 150vh;
}
.min-hh-6 {
    min-height: 160vh;
}

.min-ww-6 {
    min-width: 160vh;
}
.min-hh-7 {
    min-height: 170vh;
}

.min-ww-7 {
    min-width: 170vh;
}
.min-hh-8 {
    min-height: 180vh;
}

.min-ww-8 {
    min-width: 180vh;
}
.min-hh-9 {
    min-height: 190vh;
}

.min-ww-9 {
    min-width: 190vh;
}

.my-scroolling {
    overflow: scroll;
}

.wrapper-users {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    /* background-color: #4158d0; */
    margin: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-users {
    position: relative;
    background: #F6F6F6;
    border: #000000;
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    border-radius: 50px;
    border-width: thin;
    /* border-left-style: solid; */
    border: 1px solid #D2D2D2;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.img-profile {
    background-color: #EAEBEC;
    position: relative;
    margin-top: 10px;
    height: 130px;
    width: 130px;
    border-radius: 70px;
    /* Para que se centre */
    display: inline-block;
}

.data-profile {
    margin-top: 10px;
}

/* PARA EL POSTEO DE ARTICULOS O PRODUCTOS Y SERVICIOS */
.menu-articles {
    display: grid;
    position: relative;
    /* justify-content: center; */
    /* margin: 50px;
    margin-top: 50px;
    margin-bottom: 50px; */
    /* background: white; */
    /* margin-left: 50px;
    margin-right: 1000px; */
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin: 10px; */
    width: 100%;
    /* height: 100%; */
    /* height: 3000px; */
    /* border-radius: 10px; */
}

/* .hero {
    width: 100%;
} */

.article {
    position: relative;
    /* width: 100%; */
    height: 250px;
    /* left: 10px;
    right: 10px; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px;
    background: #EFEFEF;
    /* opacity: 0.5; */
    border-radius: 10px;
    /* background-color: rgba(255, 0, 0, 0.5); */
}

.image-article {
    height: 245px;
    width: 245px;
    position: relative;
    float: left ;
    /* align-content: center center center center;
    align-items: center center center center; */
    /* text-align: center ; */
    /* justify-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* border-radius: 10px; */
}

.img-art {
    max-width: 230px;
    max-height: 230px;
    position: relative;
    border-radius: 5px;
    
}

.descript-article {
    position: relative;
    
}

.option-article {
    position: absolute;
    /* float: right;  */
    margin-right: 10px; 
    margin-bottom: 10px;
    right: 0px;
    bottom: 0;
}

.btn {
    display: inline-block;
    line-height: 30px;
    padding: 0 10px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    font-family: inherit;
    
  }
  
  .btn--radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  
  .btn--radius-2 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .btn--pill {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  .btn--green {
    background: #57b846;
  }
  
  .btn--green:hover {
    background: #4dae3c;
  }
  
  .btn--blue {
    background: #4272d7;
  }
  
  .btn--blue:hover {
    background: #3868cd;
  }
  
  .btn--red {
    background: #ff4b5a;
  }
  
  .btn--red:hover {
    background: #eb3746;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
