


<div class="limiter">
    <div class="container-login100">
        <div class="card-1">
            <div class="pos-rev">
                <h1 class="title-1">Verify your email to finish signing up</h1>
            </div>
            <div class="pos-rev">
                <p class="fnt-7 txt-1">Thank you foy choosing TRADE</p>
                <p class="fnt-8 txt-2">Please confirm that asdfa@gmail.com is your email addres by <br>
                    clicking on the button below.
                </p>
            </div>
            <div class="">
                <button class="my-btn-1" type="button">Verify my email</button>
            </div>

        </div>
    </div>
</div>