
    <div class="article">
        <div class="image-article">
          <img class="img-art" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="IMG">
        </div>
        <div class="descript-article">
            <h3><b class="title-1">Name: Articulo 1</b></h3>
            <b class="txt-2">State: </b> Disponible<br>
            <b class="txt-2">Reference: </b> Disponible<br>
            <b class="txt-2">Calificacion: </b> <b>5.5</b><br>
            <b class="txt-2">Descripcion: </b>Hola esta es la descripcion y todo la onda
        </div>
        <div class="option-article">
          <!-- <button class="btn btn--radius-2 btn--red" type="submit">+1 Add Carret</button>
          <button class="btn btn--radius-2 btn--green" type="submit">View</button> -->
            <button class="btn btn-secondary btn--red" style="margin-right: 5px !important;">Add Carret</button>
            <button class="btn btn-primary btn--green" style="margin-right: 5px !important;">View</button>
        </div>
    </div>
