<h3 mat-dialog-title>Add Contact</h3>
<hr>
<br>
<div class="" style="color: red;">{{msj}}</div>
<div mat-dialog-content class="">
    <!-- <div class="example-container"> -->
    <form action="POST" [formGroup]="montoForm" >
        <mat-form-field appearance="fill" style="width: 300px;">
            <mat-label>Monto</mat-label>
            <input type="number" formControlName="monto" matInput>
        </mat-form-field>
        <br>
    </form>
</div>
<div mat-dialog-actions style="text-align: center;">
    
  <button mat-button mat-dialog-close class="btn btn-secondary btn--red">Close</button>
  <span style="padding-right: 5px;"></span>
  <button mat-button class="btn btn-primary btn--green" (click)="addCredit()" >Add</button>
</div>
