

<div >
<div style="float: right;">
    <button mat-raised-button color="warn" (click)="finaliceCompra()">Finalize Purchase</button>
</div>

<div class="target-filter-cards">
    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>
</div>

<div class="mat-elevation-z8" style="border-bottom: 60px;">
    <table mat-table [dataSource]="dataSource" matSort>
  
        <!-- no_tarjeta Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Producto </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>  
        <td mat-footer-cell *matFooterCellDef>-</td> 
      </ng-container>
      
      <!-- no_tarjeta Column -->
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name Product </th>
        <td mat-cell *matCellDef="let row"> {{row.post?.titulo}} </td>  
        <td mat-footer-cell *matFooterCellDef>-</td> 
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="costo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost </th>
        <td mat-cell *matCellDef="let row"> {{row.precio}} </td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
        <td mat-cell *matCellDef="let row">{{row.cantidad}} </td>
        <td mat-footer-cell *matFooterCellDef>-</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Subtotal </th>
        <td mat-cell *matCellDef="let row"> {{row.total}} </td>
        <td mat-footer-cell *matFooterCellDef>{{getTotalCost() | currency}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <!-- <ng-container matColumnDef="activa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
        <td mat-cell *matCellDef="let row"> {{(row.activa)? 'Activa':'Descativada'}} </td>
      </ng-container>  -->

      <ng-container matColumnDef="button1">
        <th mat-header-cell *matHeaderCellDef>
            Remove Product
        </th>
        <td mat-cell *matCellDef="let row">
            <button mat-raised-button color="warn" (click)="removeCart(row.id,row)"><mat-icon>remove_shopping_cart</mat-icon></button>
            <!-- <button *ngIf="!row.activa" mat-raised-button color="warn" [disabled]="true"><mat-icon>close</mat-icon></button> -->
        </td>
        <td mat-footer-cell *matFooterCellDef>-</td>
      </ng-container>

      <!-- <ng-container matColumnDef="button2">
        <th mat-header-cell *matHeaderCellDef>
            Add Credit
        </th>
        <td mat-cell *matCellDef="let row">
            <button *ngIf="row.activa" mat-raised-button color="warn">	<mat-icon>add</mat-icon></button>
        </td>
      </ng-container> -->
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
      
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
<div>

</div>
