    <app-nav-user></app-nav-user>
        
    
    <div class="hero" >
        <div class=".container-template conteiner-login100">
            <div class="target-options min-ww">
                <div>
                    
                </div>
            </div>
            <div class="target-white-2">
                <div class="page-wrapper p-t-45 p-b-50">
                    <div class="wrapper wrapper--w790">
                        <div class="card card-5" style="border-radius: 10px;">
                            <div class="card-heading" style="background: #9053c7;">
                                <h2 class="title">Post Producto</h2>
                            </div>
                            <div class="card-body" >
                                <div >
                                    <form method="POST" [formGroup]="postForm">
                                        <div class="form-row">
                                            <div class="name font-robo">Title <span style="color: red;">*</span></div>
                                            <div class="value">
                                                <div class="input-group">
                                                    <input formControlName="titulo" class="input--style-5 font-robo" type="text" name="user" placeholder="Title">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row ">
                                            <div class="name font-robo">Cost <span style="color: red;">*</span></div>
                                            <div class="value">
                                                <div class="input-group">
                                                    <input formControlName="costo" class="input--style-5 font-robo" type="number" name="user" min="0.00" placeholder="Cost" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="name font-robo">Badge <span style="color: red;">*</span></div>
                                            <div class="value">
                                                <div class="input-group">
                                                    <input formControlName="divisa" class="input--style-5 font-robo" type="text" name="user" placeholder="Title">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="name font-robo">Description <span style="color: red;">*</span></div>
                                            <div class="value">
                                                <div class="input-group">
                                                    <p><textarea formControlName="descripcion" class="input--style-6 font-robo" cols="55" rows="2" name="comment" placeholder="Description Product"></textarea></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row m-b-20">
                                            <label class="name font-robo">Interchangeable Product? <span style="color: red;">*</span></label>
                                            <span style="padding-right: 15px;"></span>
                                            <div class="p-t-15">
                                                <label class="radio-container m-r-55">Yes
                                                    <input (click)="setIntercambiable(true)" type="radio" name="exist">
                                                    <span  class="checkmark"></span>
                                                </label>
                                                <label class="radio-container">No
                                                    <input (click)="setIntercambiable(false)" type="radio" name="exist">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-row m-b-20">
                                            <label class="name font-robo">Visible Posting? <span style="color: red;">*</span></label>
                                            <span style="padding-right: 15px;"></span>
                                            <div class="p-t-15">
                                                <label class="radio-container m-r-55">Yes
                                                    <input (click)="setVisible(true)" type="radio" name="exist2">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="radio-container">No
                                                    <input (click)="setVisible(false)" type="radio" name="exist2">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-row m-b-40">
                                            <div class="name font-robo">Stock <span style="color: red;">*</span></div>
                                            <div class="value">
                                                <div class="row row-refine">
                                                    <div class="col-6">
                                                        <div class="input-group-desc">
                                                            <input formControlName="minimo_stock" (ngModelChange)="seStockMin()" class="input--style-5 font-robo" type="range" min="0" max="500" name="extension" placeholder="Stock Minime">
                                                            <label class="label--desc font-robo">Stock Minime: {{stockMin}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 ">
                                                        <div class="input-group-desc">
                                                            <input formControlName="stock" (ngModelChange)="seStock()" class="input--style-5 font-robo" type="range" min="0" max="10000" name="telefono" placeholder="Stock Initial">
                                                            <label class="label--desc font-robo">Stock Initial: {{stockInitial}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row m-b-0">
                                            <button class="btn btn--radius-2 btn--green font-robo btn-primary" type="submit" (click)="sendPost()" >Register</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- JS -->
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./vendor/nouislider/nouislider.min.js"></script>
    <script src="./vendor/wnumb/wNumb.js"></script>
    <script src="./vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="./vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="./js/main.js"></script>