


<div class="limiter">
    <div class="contendor-login1000">
        <div class="card-1">
            <div class="pos-rev">
                <h1 class="title-1">Verify your email to signing up</h1>
            </div>
            <div class="pos-rev">
                <p class="fnt-7 txt-1">Thank you foy choosing TRADE</p>
                <p class="fnt-8 txt-2">{{msj}}<br>
                    <!-- clicking on the button below. -->
                </p>
            </div>
            <div class="">
                <button (click)="redirection()" class="my-btn-1" type="button">Accept</button>
                <!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Modal vertically centered</button> -->
            </div>

        
        <!-- <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Verification</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>A verification email has been sent to: {{USER.correo}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn--green" (click)="accepted()">Accept</button>
            </div>
          </ng-template> -->
        </div>
    </div>
</div>


