

    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50 container-login100">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Register of user/company</h2>
                </div>
                <div class="card-body">
                    <form method="POST" [formGroup]="registerForm">
                        <div class="form-row m-b-40">
                            <div class="name font-robo">Name *</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input formControlName="nombre" class="input--style-5 font-robo" type="text" name="nombre" placeholder="First Name" required>
                                            <label class="label--desc input100 font-robo">First name</label>
                                        </div>
                                    </div>
                                    <!-- <span class="contenedor-2"></span> -->
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input formControlName="apellido" class="input--style-5 font-robo" type="text" name="apellido" placeholder="Last name" required>
                                            <label class="label--desc font-robo">last name</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name font-robo">UserName *</div>
                            <div class="value">
                                <div class="input-group">
                                    <input formControlName="user" class="input--style-5 font-robo" type="text" name="user" placeholder="UserName">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-row">
                            <div class="name">Company</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="company">
                                </div>
                            </div>
                        </div> -->
                        <div class="form-row ">
                            <div class="name font-robo">Email *</div>
                            <div class="value">
                                <div class="input-group">
                                    <input formControlName="correo" class="input--style-5 font-robo" type="email" name="correo" data-validate="Valid email is required: ex@abc.xyz" placeholder="Email" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="name font-robo">Password *</div>
                            <div class="value">
                                <div class="input-group">
                                    <input formControlName="password" class="input--style-5 font-robo" type="password" name="password" data-validate = "Password is required" placeholder="Password" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name font-robo">Country *</div>
                            <div class="value">
                                <div class="input-group">
                                    <input formControlName="pais" class="input--style-5 font-robo" type="text" name="pais" placeholder="Country">
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-b-40">
                            <div class="name font-robo">Phone *</div>
                            <div class="value">
                                <div class="row row-refine">
                                    <div class="col-3">
                                        <div class="input-group-desc">
                                            <input formControlName="extension" class="input--style-5 font-robo" type="text" name="extension" placeholder="Area Code">
                                            <label class="label--desc font-robo">Area Code</label>
                                        </div>
                                    </div>
                                    <span class="contenedor-2"></span>
                                    <div class="col-6 ">
                                        <div class="input-group-desc">
                                            <input formControlName="telefono" class="input--style-5 font-robo" type="text" name="telefono" placeholder="Phone Number">
                                            <label class="label--desc font-robo">Phone Number</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name font-robo">Date of birth *</div>
                            <div class="value">
                                <div class="input-group">
                                    <input formControlName="fecha_nacimiento" class="input--style-4 font-robo" type="date" name="fecha_nacimiento" placeholder="Date of birth">
                                </div>
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="name font-robo">Type Register</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="subject"  #parrafoTest (click)="setSelected(parrafoTest.value)">
                                            <option disabled="disabled" selected="selected font-robo">Choose option</option>
                                            <option class="font-robo" (select)="setUser()" (click)="setUser()">Personal</option>
                                            <option class="font-robo" (select)="setCompany()">Company</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="isUser">
                            <div class="form-row">
                                <div class="name font-robo">No. ID User *</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input formControlName="id" class="input--style-5 font-robo" type="text" name="pais" placeholder="ID User">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="isCompany">
                            <div class="form-row">
                                <div class="name font-robo">No. Company *</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input formControlName="id_company" class="input--style-5 font-robo" type="text" name="pais" placeholder="No. Company">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- <div class="form-row m-b-20">
                            <label class="label label--block">Are you an existing customer?</label>
                            <div class="p-t-15">
                                <label class="radio-container m-r-55">Yes
                                    <input type="radio" checked="checked" name="exist">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container">No
                                    <input type="radio" name="exist">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div> -->
                        <div class="form-row m-b-0">
                            <button class="btn btn--radius-2 btn--green font-robo" type="submit" (click)="register()">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="./vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="./vendor/select2/select2.min.js"></script>
    <script src="./vendor/datepicker/moment.min.js"></script>
    <script src="./vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>


