

@import url(./vendor/mdi-font/css/material-design-iconic-font.min.css);
@import url(./vendor/font-awesome-4.7/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);
@import url(./vendor/select2/select2.min.css);
@import url(./vendor/datepicker/daterangepicker.css);
@import url(./css/main.css);
@import url(./css/main.min.css);

.input-group-desc {
    /* position: relative; */
}

.contenedor-2 {
    width: 50px;
}

.container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
  }

  .txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
  }
  
  .txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
  }
  
  .input--style-6 {
    background: #e5e5e5;
    line-height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
  }

  .card-My .card-heading-My {
    padding: 20px 0;
    background: #57b846;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
  }

  .card-5-My {
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px #57b846;
    -moz-box-shadow: 0px 8px 20px 0px #57b846;
    box-shadow: 0px 8px 20px 0px #57b846;
  }