
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap);
@import url(./fonts/icomoon/style.css);
/* @import url(./css/owl.carousel.min.css); */
@import url(./css/bootstrap.min.css);
@import url(./css/style.css);
@import url(./css/mystyle.css);
/* @import url(./); */


.container-template {
    width: 100%;  
    min-height: 100vh;
    /* min-height: 1920px; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
  }

  .my-title {
    font-size: 150px;
    height: 300px;
    width: 300px;
    color: white;
    padding-top: 190px;
    /* padding-left: 300px;
    padding-right: 300px; */
    padding-left: 29%;
    padding-right: 10%;
    /* background: red; */
    text-align: center center center center;
    align-items: center center center center;
  }

.lt-title-1{
  font-family: inherit;
}

.lt-title-2{
  font-family: 'Courier New', Courier, monospace;
}

.lt-title-3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lt-title-4{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lt-title-5{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lt-title-6{
  font-family: Arial, Helvetica, sans-serif;
}