



<!-- <app-sign-in></app-sign-in> -->
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-home-page></app-home-page> -->


<!-- <app-add-product></app-add-product>
<app-edit-product></app-edit-product>
<app-edit-user></app-edit-user>
<app-profile-user></app-profile-user>
<app-stack-product></app-stack-product> -->

<!-- <app-product-search></app-product-search> -->
<!--<app-affiliates></app-affiliates>-->




 <!-- <app-chat></app-chat> -->
<!-- <div style="height: 100px;">
    
</div> -->

<!--<app-product-search></app-product-search>-->
<!--<app-notifications></app-notifications>-->


<div class="continer-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <router-outlet></router-outlet>
        </div>
    </div>
  </div>
<app-chat></app-chat>
