
<div class="card-cart-product">
    <div class="line-cart cart-lft">
        <p class="line-cart">{{productCart.cantidad}} <span>&nbsp;&nbsp;&nbsp;</span></p>
        <!-- <a ><b class="line-cart">NameProduct</b></a> -->
        <a class="line-cart">{{product.titulo}}<span>&nbsp;</span></a>
        <a class="line-cart"> {{product.costo}}<span>&nbsp;</span>{{product.divisa}}</a>
    </div>
    <div class="line-cart cart-rgh">
        <a class="icn-cart-rm" (click)="removeCart()"><mat-icon>remove_shopping_cart</mat-icon></a>
        <!-- <a class="icn-cart-rm"><mat-icon>remove_shopping_cart</mat-icon></a> -->
    </div>
</div>
<!-- <hr> -->
