table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .target-table-cards {
      border-radius: 10px;
      /* background: red; */
      margin-left: 60px;
      margin-right: 60px;
      margin-bottom: 60px;
      /* margin-bottom: 60px; */
  }

.target-my-wallet {
    /* background: red; */
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 20px;
    border-radius: 10px;
}