<app-nav-user></app-nav-user>
      
  
    <div class="hero" >
        <div class="container-template conteiner-login100">
            <div class="target-options-1">
                <div>
                    <app-product-search></app-product-search>
                </div>
            </div>
            <div>
                <div class="target-white-product-shop">
                    <app-product-shop *ngFor="let product of listProducts; let i = index" [product]="product" (mycart)="postCart($event)"></app-product-shop>
                </div>
                <span style="padding-right: 25px;"></span>
                <div class="target-white-carret">
                    <div class="opt-cart">
                        <div class="opt-cart-11 line-cart">
                            <a class="icn-cart" (click)="cleanCart()">
                                <mat-icon> cancel_presentation</mat-icon>
                            </a>
                        </div>
                        <div class="opt-cart-12 line-cart">
                            <a class="icn-cart" (click)="setDespleged()">
                                <mat-icon>shopping_cart</mat-icon>
                            </a>
                        </div>
                        <div class="opt-cart-13 line-cart">
                            <a class="icn-cart" (click)="payShop()">
                                <mat-icon>payment</mat-icon>
                            </a>
                        </div>
                        
                        <!-- <mat-icon>add_shopping_cart</mat-icon> -->
                        
                    </div>
                    <hr>
                    <div class="card-cart-product">
                        <p class="line-cart">Total: {{total}} USD <span>&nbsp;&nbsp;&nbsp;</span></p>
                    </div>
                    <!-- <hr style="background: rebeccapurple; height: 0px;"> -->
                    <div *ngIf="despleged" >
                        <div class="target-cart-shop">
                            <!-- <div style="height: 0px;"></div> -->
                            <app-card-cart-product *ngFor="let productCart of listaCart; let i = index" [productCart]="productCart" [index]="i" (mycart)="deleteCart($event)"></app-card-cart-product>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
